.testimonial-section {
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*---------------------------------------
TESTIMONIAL CAROUSEL              
-----------------------------------------*/
@media screen and (min-width:787px){
    .testimonial-section {
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    .testimonial-section::before {
        content: "";
        background-color: var(--primary-color);
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: -30px;
        margin: auto;
        width: 170px;
        height: 170px;
    }
    
    .testimonial-section::after {
        content: "";
        background: var(--custom-btn-bg-color);
        border-radius: 50%;
        position: absolute;
        bottom: -110px;
        right: -80px;
        width: 250px;
        height: 250px;
    } 
}
@media screen and (min-width:987px){
    .testimonial-section {
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    .testimonial-section::before {
        content: "";
        background-color: var(--primary-color);
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: -30px;
        margin: auto;
        width: 250px;
        height: 250px;
    }
    
    .testimonial-section::after {
        content: "";
        background: var(--custom-btn-bg-color);
        border-radius: 50%;
        position: absolute;
        bottom: -110px;
        right: -80px;
        width: 350px;
        height: 350px;
    } 
  
    
}
#testimonial-carousel .carousel-caption {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

#testimonial-carousel .carousel-title {
    background: var(--section-bg-color);
    margin-bottom: 10px;
    line-height: 36px;

}

#testimonial-carousel .carousel-title::before {
    color: var(--p-color);
    font-size: var(--h1-font-size);
    position: relative;
    top: 10px;
    right: 10px;
}

#testimonial-carousel .carousel-title::after {
    color: var(--p-color);
    font-size: var(--h1-font-size);
    position: relative;
    top: 10px;
    left: 10px;
}

#testimonial-carousel .carousel-title {
    quotes: "“" "”" "‘" "’";
}

#testimonial-carousel .carousel-name {
    background: var(--primary-color);
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
}

#testimonial-carousel .carousel-name::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--primary-color);
}

.carousel-name-title {
    font-weight: var(--font-weight-semibold);
}

#testimonial-carousel .carousel-indicators {
    position: relative;
    top: 150px;
    bottom: auto;
    margin-top: 10px;
    margin-bottom: 150px;
}

#testimonial-carousel .carousel-indicators li {
    text-indent: inherit;
    background: transparent;
    margin: 0 10px;
}

#testimonial-carousel .carousel-indicators li,
#testimonial-carousel .carousel-indicators li::before {
    width: 45px;
    height: 45px;
}

#testimonial-carousel .carousel-indicators .avatar-image {
    width: 45px;
    height: 45px;
}

#testimonial-carousel .carousel-indicators .active,
#testimonial-carousel .carousel-indicators .active .avatar-image {
    background: transparent;
    width: 50px;
    height: 50px;
}
